@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 700;
		font-display: swap;
		src: url(/public/fonts/OpenSans-Bold.ttf) format('truetype');
	}

	@font-face {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 600;
		font-display: swap;
		src: url(/public/fonts/OpenSans-Semibold.ttf) format('truetype');
	}

	@font-face {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 500;
		font-display: swap;
		src: url(/public/fonts/OpenSans-Medium.ttf) format('truetype');
	}

	@font-face {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url(/public/fonts/OpenSans-Regular.ttf) format('truetype');
	}
}
